html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* background-color: rgb(248,248,248); */
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
*{
  font-family: '华文中宋';
  /* font-size: 16px;
  font-weight: 600; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(44, 93, 205);
}
a:hover{
  color: rgb(36, 63, 124);
}

/* 滚动条 */
/* //滚动条整体部分 */
div::-webkit-scrollbar,
ul::-webkit-scrollbar,
main::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* //滚动条的轨道（里面装有Thumb） */
div::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
main::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}
/* //滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条） */
div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 8px;
}
div::-webkit-scrollbar-thumb:hover,
ul::-webkit-scrollbar-thumb:hover,
main::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover  {
  background: #999;
}